.output-div{
  height: 50vh;
  width: 100vw;
}

.editor-div{
  height: 50vh;
  display:flex;
  width: 100vw;
  background-color: black;
  color: white;
}
.output-iframe{
  width: -webkit-fill-available;
}